body{
  background-color: aliceblue;

}
.todo-app{
  text-align: center;
  width: 1080px;
  margin: 0 auto;
}


.todo-title{
  font-size:35px;
  margin: 30px;

}

.todo-item-input{
  display: flex;
  justify-content: space-between;
}

.todo-filter{
  display: flex;
  margin: 10px 0 10px 0;

}

.todo-container-list{
  display: flex !important;
  padding: 10px;
  font-size:15px;
}

.todo-container-list-done{
  display: flex !important;
  padding: 10px;
  font-size:15px;
  text-decoration: line-through;
  background-color:lightgray;
}

.todo-item-operate span{
  margin: 0 10px 0 0;

}
