.item {
  display: inline-block;
  padding: 8px 15px;
  margin: 10px 2px;
  border: 1px solid gray;
  color: rgb(13, 110, 106);
  cursor: pointer;
}

.item.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.current {
  margin-left: 10px;
}

.active {
  border: none;
  color: #f40;
  font-weight: bold;
  cursor: auto;
}
